@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    font-family: "Andika", sans-serif;
}

body{
    margin: 0;

}

header{
    background-color: khaki; 
    color: white;
    padding: 3rem 2rem; 
}
 
header h1{
    font-size: 4rem;
    text-align: center;
}

header h2{
    text-align: center;
    font-size: 1.5em; /* Tamaño de fuente mediano (1.5em) */
}

p { /* Estilo para párrafos p */
    font-size: 18px; /* Tamaño de fuente de 18px */
}

.container{
    width: 400px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px; 
    justify-content: center;
}

section article{
    transition: box-sadow 0.3s ease;
    background-color: #e1e2ab;
    margin: 1rem 0; 
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.3);
}

section article h2, section article p{
    margin: 1rem; 
}

footer{
    background-color: black;
    padding: 3rem;
    color: #fff; 
}

footer section{ 
    float: right;
}

footer a{
    transition: color 0.3s ease;
    color: #fff; 
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue; 
}

